body {
  background-color: white;
}
canvas {
  width: 200px;
  height: 200px;
  border: 10px solid grey;
}
#leftJoystick {
    position: fixed;
    bottom: 0;
  left:0px;
  background-color: green;
}
#rightJoystick {
  background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}
